@font-face {
    font-family: "IranSans";
    src: url("/Projects\(Bootstap-Template\)/Font/FontsFree-Net-ir_sans.ttf");
}

*{
    font-family: "IranSans";
}

.header{
    position: fixed;
    left: 0%;
    right: 0%;
}
/* burger image */
.section__hedear-img{
    background: #000;
}